<!DOCTYPE html>
<html>

  <head>
    <title>Test Page: Don't Panic</title>
    <meta charset="utf-8">
    <style>

    </style>
  </head>

  <body>

<div class="full-hero">
    <h1>I'm an h1</h1>
    <ul class="social-list">
      <li>
        <a href="https://example.com/" class="social-link">Fb</a>
      </li>
      <li>
        <a href="https://example.com/" class="social-link">Tw</a>
      </li>
      <li>
        <a href="https://example.com/" class="social-link">Gh</a>
      </li>
    </ul>
  </div>

    <h2>I'm an h2</h2>


    <!-- <div class="test-box">
      200px wide
    </div>
    <div class="test-box test-box-nosizing">
      200px wide + border + padding = 300px
    </div>
    <div class="test-box test-box-nosizing test-box-sizing">
      200px wide + border + padding + box-sizing: border-box = 200px
    </div> -->


    <div class="bio-wrapper">

    <div class="bio-box">
      <img src="https://placekitten.com/g/400/400">
      <h3>Rachel</h3>
      <a href="https://runescape.com" class="social-link">hi</a>
      <div class="bio-copy">
        <p>
          Rachel was born on a chilly September morning in the heart of Santa Monica. She grew up to love cats and ultimately went to <a href="calpoly.com">Cal Poly</a>, where she earned a degree in Biological Sciences.
        </p>
      </div>
    </div>


    <div class="bio-box">
      <img src="https://placekitten.com/g/400/400">
      <h3>Blueberry</h3>
      <a href="https://runescape.com" class="social-link">yo</a>
      <div class="bio-copy">
        <p>
          Blueberry is a kitten who was born on May 10, 2019. He is a very good boi and deserves all the treats in the world. His favorite treats are from Trader Joe's. <em>Fun Fact:</em> When Blueberry was still a small kitten, he loved to jump into the toilet.
        </p>
      </div>
    </div>

    <div class="bio-box">
      <img src="https://placekitten.com/g/400/400">
      <h3>Ashberry</h3>
      <a href="https://petco.com" class="social-link show">hmu</a>
      <div class="bio-copy">
        <p>
          Ashberry's tale is wacky. He was born somewhere in Northern California and spent the first few years of his life in a <a href="https://en.wikipedia.org/wiki/Hoarding">hoarding</a> house. He developed feline pica, which drives him to eat plastic, cardboard, wood, and more. We still love him and give him kisses a lot.
        </p>
      </div>
    </div>


    <div class="bio-box">
      <img src="https://placekitten.com/g/400/400">
      <h3>??</h3>
      <div class="bio-copy">
      <p>
        The Future
      </p>
    </div>
    </div>
  </div>

  <!-- <p style="clear: left;"> -->
  <p>
    After using float: right or left, you might find that the website struggles to figure out where exactly the floating should end. In this case, you can use clear: right, clear: left, or clear: both to end the float instruction to your computer and make the next paragraph begin below the floating object.
  </p>
  <p>
    overflow: hidden <strong>will</strong> achieve the same effect, and it's recommended that you pop an overflow command into entire wrappers (e.g. biowrappers) to ensure that all text within their bounds will cleanly break from the previous element. Keep in mind that this will cut off dropdown menus if used irresponsibly.
  </p>
  <h3>Background</h3>
  <p>
    Basically, overflow: hidden will hide all of the content of an element that spills out from a container of a set height. overflow: visible will allow the content that would have otherwise been cut off to flow freely across the page, regardless of height restrictions. overflow: scroll will allow the user to scroll around in a box of the defined dimensions.
  </p>

  </body>
</html>
